### This file was created to extract the latest 1000 tweets of the users. these users were sent by Sir Faaiz in an excel sheet as a sample

In [40]:
# importing libraries and packages
import snscrape.modules.twitter as sntwitter
import pandas as pd

# Creating list to append tweet data 
tweets_list1 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:onlyzill').get_items()): #declare a username 
    if i>1000: #number of tweets you want to scrape
        break
    tweets_list1.append([tweet.date, tweet.id, tweet.content, tweet.user.username , tweet.mentionedUsers]) #declare the attributes to be returned
    
# Creating a dataframe from the tweets list above 
tweets_df1 = pd.DataFrame(tweets_list1, columns=['Datetime', 'Tweet Id', 'Text', 'Username' , "Mentioned Users"])

<ipython-input-40-39859fd8be46>:12: FutureWarning: content is deprecated, use rawContent instead
  tweets_list1.append([tweet.date, tweet.id, tweet.content, tweet.user.username , tweet.mentionedUsers]) #declare the attributes to be returned

In [41]:
tweets_df1.head()

,Datetime,Tweet Id,Text,Username,Mentioned Users
0,2022-08-23 04:19:36+00:00,1561931136867381248,@Fani2536 https://t.co/j5mbQYXoRd,onlyzill,[https://twitter.com/Fani2536]
1,2022-08-23 04:17:27+00:00,1561930591935033344,@khawerPTI https://t.co/08YBBuUPHb,onlyzill,[https://twitter.com/khawerPTI]
2,2022-08-23 00:58:56+00:00,1561880634305703937,@Fani2536 https://t.co/80QZiHNwFI,onlyzill,[https://twitter.com/Fani2536]
3,2022-08-23 00:32:41+00:00,1561874028910215174,@ImranBa19926093 https://t.co/hVB63Ewqsz,onlyzill,[https://twitter.com/ImranBa19926093]
4,2022-08-23 00:28:35+00:00,1561872997480550401,@ArshadSalim18 https://t.co/Eeq774S60u,onlyzill,[https://twitter.com/ArshadSalim18]

In [42]:
tweets_df1.count

<bound method DataFrame.count of                      Datetime             Tweet Id  \
0   2022-08-23 04:19:36+00:00  1561931136867381248
1   2022-08-23 04:17:27+00:00  1561930591935033344
2   2022-08-23 00:58:56+00:00  1561880634305703937
3   2022-08-23 00:32:41+00:00  1561874028910215174
4   2022-08-23 00:28:35+00:00  1561872997480550401
..                        ...                  ...
316 2020-04-27 11:25:40+00:00  1254733446468886530
317 2017-04-07 02:59:16+00:00   850181149015941120
318 2014-08-19 08:03:36+00:00   501640612441894912
319 2013-05-13 11:36:54+00:00   333908706913820672
320 2013-05-13 10:05:00+00:00   333885579827748865

                                                  Text  Username  \
0                    @Fani2536 https://t.co/j5mbQYXoRd  onlyzill
1                   @khawerPTI https://t.co/08YBBuUPHb  onlyzill
2                    @Fani2536 https://t.co/80QZiHNwFI  onlyzill
3             @ImranBa19926093 https://t.co/hVB63Ewqsz  onlyzill
4               @ArshadSalim18 https://t.co/Eeq774S60u  onlyzill
..                                                 ...       ...
316                                      @AWGoraya you  onlyzill
317  The Sunrise Cash Cow  - Yahoo7 https://t.co/JR...  onlyzill
318                      Just checking my first tweet.  onlyzill
319                          @A_DreamCatcher_ checking  onlyzill
320                                        First Tweet  onlyzill

                           Mentioned Users
0           [https://twitter.com/Fani2536]
1          [https://twitter.com/khawerPTI]
2           [https://twitter.com/Fani2536]
3    [https://twitter.com/ImranBa19926093]
4      [https://twitter.com/ArshadSalim18]
..                                     ...
316         [https://twitter.com/AWGoraya]
317                                   None
318                                   None
319  [https://twitter.com/A_DreamCatcher_]
320                                   None

[321 rows x 5 columns]>

In [43]:
tweets_df1.to_csv("zill.csv")

### User 2

In [44]:
# importing libraries and packages
import snscrape.modules.twitter as sntwitter
import pandas as pd

# Creating list to append tweet data 
tweets_list1 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:masadulislam503').get_items()): #declare a username 
    if i>1000: #number of tweets you want to scrape
        break
    tweets_list1.append([tweet.date, tweet.id, tweet.content, tweet.user.username , tweet.mentionedUsers]) #declare the attributes to be returned
    
# Creating a dataframe from the tweets list above 
tweets_df1 = pd.DataFrame(tweets_list1, columns=['Datetime', 'Tweet Id', 'Text', 'Username' , "Mentioned Users"])

<ipython-input-44-9156e70c123f>:12: FutureWarning: content is deprecated, use rawContent instead
  tweets_list1.append([tweet.date, tweet.id, tweet.content, tweet.user.username , tweet.mentionedUsers]) #declare the attributes to be returned

In [45]:
tweets_df1.head()

,Datetime,Tweet Id,Text,Username,Mentioned Users
0,2022-08-23 17:08:02+00:00,1562124515576086530,@MaryamNSharif @CMShehbaz @MiftahIsmail شکریہ ...,masadulislam503,"[https://twitter.com/MaryamNSharif, https://tw..."
1,2022-08-23 16:55:07+00:00,1562121268874330115,آسمانی بجلی کا بل بھی بجلی کے بلوں میں آیڈ کر ...,masadulislam503,None
2,2022-08-23 16:55:00+00:00,1562121235647156225,@RashidNasrulah پہلی خبر : وزیراعظم نے بجلی کی...,masadulislam503,[https://twitter.com/RashidNasrulah]
3,2022-08-23 16:52:34+00:00,1562120626881679360,@MaryamNSharif @CMShehbaz پہلی خبر : وزیراعظم ...,masadulislam503,"[https://twitter.com/MaryamNSharif, https://tw..."
4,2022-08-23 16:52:10+00:00,1562120525555671040,@MaryamNSharif @CMShehbaz آسمانی بجلی کا بل بھ...,masadulislam503,"[https://twitter.com/MaryamNSharif, https://tw..."

In [46]:
tweets_df1.count

<bound method DataFrame.count of                      Datetime             Tweet Id  \
0   2022-08-23 17:08:02+00:00  1562124515576086530
1   2022-08-23 16:55:07+00:00  1562121268874330115
2   2022-08-23 16:55:00+00:00  1562121235647156225
3   2022-08-23 16:52:34+00:00  1562120626881679360
4   2022-08-23 16:52:10+00:00  1562120525555671040
..                        ...                  ...
175 2022-03-14 16:47:18+00:00  1503412465677352962
176 2022-03-14 09:50:44+00:00  1503307633909977093
177 2022-03-14 07:12:25+00:00  1503267793491402758
178 2022-03-13 13:10:14+00:00  1502995450768601091
179 2022-03-12 05:35:41+00:00  1502518671889084416

                                                  Text         Username  \
0    @MaryamNSharif @CMShehbaz @MiftahIsmail شکریہ ...  masadulislam503
1    آسمانی بجلی کا بل بھی بجلی کے بلوں میں آیڈ کر ...  masadulislam503
2    @RashidNasrulah پہلی خبر : وزیراعظم نے بجلی کی...  masadulislam503
3    @MaryamNSharif @CMShehbaz پہلی خبر : وزیراعظم ...  masadulislam503
4    @MaryamNSharif @CMShehbaz آسمانی بجلی کا بل بھ...  masadulislam503
..                                                 ...              ...
175  @dw_urdu جائیں اردو سیکھ کر آئیں پھر رپورٹ کری...  masadulislam503
176  @OfficialDPRPP great work to keep our culture ...  masadulislam503
177  @UN @unwomenchief @unwomen_pak @BBCWorld now w...  masadulislam503
178                           @ICT_Police Well done 👍…  masadulislam503
179  @OfficialDPRPP @DPOMianwali Good work sir. Hop...  masadulislam503

                                       Mentioned Users
0    [https://twitter.com/MaryamNSharif, https://tw...
1                                                 None
2                 [https://twitter.com/RashidNasrulah]
3    [https://twitter.com/MaryamNSharif, https://tw...
4    [https://twitter.com/MaryamNSharif, https://tw...
..                                                 ...
175                      [https://twitter.com/dw_urdu]
176                [https://twitter.com/OfficialDPRPP]
177  [https://twitter.com/UN, https://twitter.com/u...
178                   [https://twitter.com/ICT_Police]
179  [https://twitter.com/OfficialDPRPP, https://tw...

[180 rows x 5 columns]>

In [47]:
tweets_df1.to_csv("Muhammad Islam.csv")

### User 3

In [48]:
# importing libraries and packages
import snscrape.modules.twitter as sntwitter
import pandas as pd

# Creating list to append tweet data 
tweets_list1 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:usmanchishty3').get_items()): #declare a username 
    if i>1000: #number of tweets you want to scrape
        break
    tweets_list1.append([tweet.date, tweet.id, tweet.content, tweet.user.username , tweet.mentionedUsers]) #declare the attributes to be returned
    
# Creating a dataframe from the tweets list above 
tweets_df1 = pd.DataFrame(tweets_list1, columns=['Datetime', 'Tweet Id', 'Text', 'Username' , "Mentioned Users"])

<ipython-input-48-9aa50fc62a68>:12: FutureWarning: content is deprecated, use rawContent instead
  tweets_list1.append([tweet.date, tweet.id, tweet.content, tweet.user.username , tweet.mentionedUsers]) #declare the attributes to be returned

In [49]:
tweets_df1.head()

,Datetime,Tweet Id,Text,Username,Mentioned Users
0,2022-08-23 18:19:57+00:00,1562142617168650242,بیغیرتو قوم دا لٹیا پیسہ دیو قومی خزانے وچوں نئیں,usmanchishty3,None
1,2022-08-23 18:12:57+00:00,1562140855070326784,@RashidMurad @AzazSyed کتے 🐕 🐶 جتنے بھی آ جائ...,usmanchishty3,"[https://twitter.com/RashidMurad, https://twit..."
2,2022-08-23 18:10:05+00:00,1562140134409228289,@laraib_virk باجوہ سور 🐷🐷 تھا اور ہے,usmanchishty3,[https://twitter.com/laraib_virk]
3,2022-08-23 16:55:28+00:00,1562121356203933697,باجوے دلے دا وس چلے تے اپنی پین نال زنا دا پرچ...,usmanchishty3,None
4,2022-08-23 16:50:14+00:00,1562120038924124160,@RehamKhan1 یوایا تے لے کے کھادا بھلدا تے نئیں,usmanchishty3,[https://twitter.com/RehamKhan1]

In [50]:
tweets_df1.count

<bound method DataFrame.count of                      Datetime             Tweet Id  \
0   2022-08-23 18:19:57+00:00  1562142617168650242
1   2022-08-23 18:12:57+00:00  1562140855070326784
2   2022-08-23 18:10:05+00:00  1562140134409228289
3   2022-08-23 16:55:28+00:00  1562121356203933697
4   2022-08-23 16:50:14+00:00  1562120038924124160
..                        ...                  ...
611 2022-05-21 17:02:51+00:00  1528058752787746818
612 2022-05-21 12:22:17+00:00  1527988148428472322
613 2022-05-20 23:59:12+00:00  1527801144256483329
614 2022-05-20 23:52:34+00:00  1527799474491383808
615 2022-05-13 22:19:50+00:00  1525239423792709632

                                                  Text       Username  \
0    بیغیرتو قوم دا لٹیا پیسہ دیو قومی خزانے وچوں نئیں  usmanchishty3
1    @RashidMurad @AzazSyed کتے  🐕 🐶 جتنے بھی آ جائ...  usmanchishty3
2                 @laraib_virk باجوہ سور 🐷🐷 تھا اور ہے  usmanchishty3
3    باجوے دلے دا وس چلے تے اپنی پین نال زنا دا پرچ...  usmanchishty3
4       @RehamKhan1 یوایا تے لے کے کھادا بھلدا تے نئیں  usmanchishty3
..                                                 ...            ...
611  @CMShehbaz Roz itni Dunya marti hai ap dono bh...  usmanchishty3
612             یہاں بولنا ہی جرم ہے ؟ @OfficialDGISPR  usmanchishty3
613  @MaryamNSharif اپنی دفعہ بڑی تکلیف 420ہوتی ہے ...  usmanchishty3
614  @ARYSabirShakir @ImranRiazKhan please check th...  usmanchishty3
615                           #امپورٹڈ__حکومت__نامنظور  usmanchishty3

                                       Mentioned Users
0                                                 None
1    [https://twitter.com/RashidMurad, https://twit...
2                    [https://twitter.com/laraib_virk]
3                                                 None
4                     [https://twitter.com/RehamKhan1]
..                                                 ...
611                    [https://twitter.com/CMShehbaz]
612               [https://twitter.com/OfficialDGISPR]
613                [https://twitter.com/MaryamNSharif]
614  [https://twitter.com/ARYSabirShakir, https://t...
615                                               None

[616 rows x 5 columns]>

In [13]:
tweets_df1.to_csv("Usman Chishty.csv")

### User 4

In [36]:
# importing libraries and packages
import snscrape.modules.twitter as sntwitter
import pandas as pd

# Creating list to append tweet data 
tweets_list1 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:jawaidA39299586').get_items()): #declare a username 
    if i>1000: #number of tweets you want to scrape
        break
    tweets_list1.append([tweet.date, tweet.id, tweet.content, tweet.user.username, tweet.mentionedUsers]) #declare the attributes to be returned
    
# Creating a dataframe from the tweets list above 
tweets_df1 = pd.DataFrame(tweets_list1, columns=['Datetime', 'Tweet Id', 'Text', 'Username' , "Mentioned Users"])

<ipython-input-36-7934d2ba3da5>:12: FutureWarning: content is deprecated, use rawContent instead
  tweets_list1.append([tweet.date, tweet.id, tweet.content, tweet.user.username, tweet.mentionedUsers]) #declare the attributes to be returned

In [37]:
tweets_df1.head()

,Datetime,Tweet Id,Text,Username,Mentioned Users
0,2022-08-23 14:01:07+00:00,1562077480369864704,@Marriyum_A Sub tv on kar lo ab Kay dado charg...,JawaidA39299586,[https://twitter.com/Marriyum_A]
1,2022-08-23 13:59:11+00:00,1562076990953295874,لگتا ھے ننگا کر کے ویڈیوز بنانے والا آئیڈیا اپ...,JawaidA39299586,None
2,2022-08-23 13:49:51+00:00,1562074644953415681,@hinaparvezbutt Yah tu dakho samja Kon raha ha...,JawaidA39299586,[https://twitter.com/hinaparvezbutt]
3,2022-08-23 13:48:20+00:00,1562074262294482945,@Marriyum_A Dado charger Ka ek or lollipop 🍭🍭🍭,JawaidA39299586,[https://twitter.com/Marriyum_A]
4,2022-08-23 13:32:16+00:00,1562070217152516098,@parishaawan Bilkul Sahi kah rahi hay ap,JawaidA39299586,[https://twitter.com/parishaawan]

In [38]:
tweets_df1.count

<bound method DataFrame.count of                      Datetime             Tweet Id  \
0   2022-08-23 14:01:07+00:00  1562077480369864704
1   2022-08-23 13:59:11+00:00  1562076990953295874
2   2022-08-23 13:49:51+00:00  1562074644953415681
3   2022-08-23 13:48:20+00:00  1562074262294482945
4   2022-08-23 13:32:16+00:00  1562070217152516098
..                        ...                  ...
862 2022-04-21 00:10:12+00:00  1516932275488837638
863 2022-04-21 00:01:45+00:00  1516930150692179969
864 2022-04-20 23:27:19+00:00  1516921482743619587
865 2022-04-20 07:30:55+00:00  1516680796383289345
866 2022-04-20 03:58:46+00:00  1516627406827761673

                                                  Text         Username  \
0    @Marriyum_A Sub tv on kar lo ab Kay dado charg...  JawaidA39299586
1    لگتا ھے ننگا کر کے ویڈیوز بنانے والا آئیڈیا اپ...  JawaidA39299586
2    @hinaparvezbutt Yah tu dakho samja Kon raha ha...  JawaidA39299586
3       @Marriyum_A Dado charger Ka ek or lollipop 🍭🍭🍭  JawaidA39299586
4             @parishaawan Bilkul Sahi kah rahi hay ap  JawaidA39299586
..                                                 ...              ...
862  دو روز قبل جس کو 15 ہزار لوگوں کے جلسے کا طعنہ...  JawaidA39299586
863     #امپورٹڈ_حکومت_نامنظور https://t.co/JOmUVzf8pI  JawaidA39299586
864  ڈالرکی قیمت کو  پھر پر لگ گئے ۔ ڈالر کو کم کرن...  JawaidA39299586
865  #امپورٹڈ_حکومت_نامنظور\n\nAgree Retweet 👇 http...  JawaidA39299586
866  Dear COAS ! don't you feel ashamed when a crim...  JawaidA39299586

                          Mentioned Users
0        [https://twitter.com/Marriyum_A]
1                                    None
2    [https://twitter.com/hinaparvezbutt]
3        [https://twitter.com/Marriyum_A]
4       [https://twitter.com/parishaawan]
..                                    ...
862                                  None
863                                  None
864                                  None
865                                  None
866                                  None

[867 rows x 5 columns]>

In [39]:
tweets_df1.to_csv("Jawaid Ali.csv")

### User 5

In [32]:
# importing libraries and packages
import snscrape.modules.twitter as sntwitter
import pandas as pd

# Creating list to append tweet data 
tweets_list1 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:Maira_pak').get_items()): #declare a username 
    if i>1000: #number of tweets you want to scrape
        break
    tweets_list1.append([tweet.date, tweet.id, tweet.content, tweet.user.username, tweet.mentionedUsers]) #declare the attributes to be returned
    
# Creating a dataframe from the tweets list above 
tweets_df1 = pd.DataFrame(tweets_list1, columns=['Datetime', 'Tweet Id', 'Text', 'Username', "Mentioned Users"])

<ipython-input-32-6c596c52afc1>:12: FutureWarning: content is deprecated, use rawContent instead
  tweets_list1.append([tweet.date, tweet.id, tweet.content, tweet.user.username, tweet.mentionedUsers]) #declare the attributes to be returned

In [33]:
tweets_df1.head()

,Datetime,Tweet Id,Text,Username,Mentioned Users
0,2022-08-23 18:16:28+00:00,1562141738998927362,اگر کوئ بھی فورس ہماری حقیقی آزادی کے درمیان آ...,Maira_pak,None
1,2022-08-22 16:36:38+00:00,1561754225570349056,باجوا صاحب جمیل فاروقی یتیم بچہ تھا اللہ محمد ...,Maira_pak,None
2,2022-08-22 10:55:06+00:00,1561668277289586688,عمران خان کراچھی سے ضمنی الیکشن جیت گیا اور 13...,Maira_pak,None
3,2022-08-21 17:00:21+00:00,1561397810259300353,میں آگئ ہوں بنی گالہ اور ہمارے 31 خاندانوں کے ...,Maira_pak,None
4,2022-08-21 16:10:20+00:00,1561385219495804929,مجھے ابھی کال آئ ہںے تمام لوگ بنی گالہ آجائیں ...,Maira_pak,None

In [34]:
tweets_df1.count

<bound method DataFrame.count of                      Datetime             Tweet Id  \
0   2022-08-23 18:16:28+00:00  1562141738998927362
1   2022-08-22 16:36:38+00:00  1561754225570349056
2   2022-08-22 10:55:06+00:00  1561668277289586688
3   2022-08-21 17:00:21+00:00  1561397810259300353
4   2022-08-21 16:10:20+00:00  1561385219495804929
..                        ...                  ...
905 2022-05-24 13:09:55+00:00  1529087295718031365
906 2022-05-24 13:09:34+00:00  1529087210519158787
907 2022-05-24 13:06:44+00:00  1529086497953021952
908 2022-05-24 13:06:34+00:00  1529086454219022338
909 2022-05-24 13:06:17+00:00  1529086383343673344

                                                  Text   Username  \
0    اگر کوئ بھی فورس ہماری حقیقی آزادی کے درمیان آ...  Maira_pak
1    باجوا صاحب جمیل فاروقی یتیم بچہ تھا اللہ محمد ...  Maira_pak
2    عمران خان کراچھی سے ضمنی الیکشن جیت گیا اور 13...  Maira_pak
3    میں آگئ ہوں بنی گالہ اور ہمارے 31 خاندانوں کے ...  Maira_pak
4    مجھے ابھی کال آئ ہںے تمام لوگ بنی گالہ آجائیں ...  Maira_pak
..                                                 ...        ...
905                          @PTIofficial @CMShehbaz 🥺  Maira_pak
906                    @soldierspeaks We come pakistan  Maira_pak
907                          @InsafPK @fawadchaudhry 🥺  Maira_pak
908    @soldierspeaks @fawadchaudhry @OfficialDGISPR 🥺  Maira_pak
909                       @Shiffa_ZY @zartajgulwazir 😔  Maira_pak

                                       Mentioned Users
0                                                 None
1                                                 None
2                                                 None
3                                                 None
4                                                 None
..                                                 ...
905  [https://twitter.com/PTIofficial, https://twit...
906                [https://twitter.com/soldierspeaks]
907  [https://twitter.com/InsafPK, https://twitter....
908  [https://twitter.com/soldierspeaks, https://tw...
909  [https://twitter.com/Shiffa_ZY, https://twitte...

[910 rows x 5 columns]>

In [35]:
tweets_df1.to_csv("Maira.csv")